:root {
  --chat_item-skeleton-bg: #f0f2f5; /* Light mode background */
}

/* 🌙 Dark Mode Skeleton */
[data-theme="dark"] {
  --chat_item-skeleton-bg: #1c222d; /* Dark background */
}

.chat-item-skeleton {
  display: flex;
  align-items: center;
  cursor: default;
  gap: 15px; /* Default gap */
  width: 100%;
  /* background-color: var(--chat_item-skeleton-bg); */

  .chat-content-skeleton {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;

    .chat-info-skeleton {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 3px;
      padding: 3px 0px;
      border-bottom: 1px solid var(--border-bottom-color);
      /* padding: 6px 0px; */

      .name-skeleton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 98%;
      }
    }
  }
}
