.image-box {
  position: relative;
  max-width: 300px;
  max-height: 400px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--message_image_loader-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  /* Error (Cross Icon) */
  .image-error {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    position: relative;
    border-radius: 6px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-box.with-gradient::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 40%);
}
