.input-box {
  flex: 1;
  background-color: var(--chatInput-bg);
  color: var(--text-color);
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: var(--shadow-color);
  display: flex;
  align-items: flex-end;
  gap: 10px;

  .message-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: var(--text-color);
    resize: none;
    overflow: auto;
    max-height: 200px;
    min-height: 30px;
    padding: 8px 0;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .emoji {
    position: relative;

    .picker {
      position: absolute;
      bottom: 60px;
      left: 0px;
    }
  }
}

.image-preview .input-box {
  margin-top: 48px;
  width: 90%;
  padding: 0 12px;
  margin-inline: auto;
  align-items: center;

  .message-input {
    width: 100%;
    color: var(--text-color);
  }
}

.bottom .input-box {
  align-items: center;
  padding: 0 12px;

  .emoji {
    align-self: flex-end;
    margin-top: 5px;
    position: relative;

    svg {
      margin-bottom: 0 !important;
    }
  }

  .message-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-color);
    resize: none;
    overflow: auto;
    max-height: 200px;
    min-height: 30px;
    padding: 8px 0;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  .message-input::placeholder {
    color: var(--text-five);
  }
}
