.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  flex: 1;

  .title {
    width: 100%;
    height: 65px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
    color: #504f4f;
    background-color: #ffffff;
  }
  .profile-content {
    .rotate-icon {
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .profile-details {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 12px;

      .warn-text {
        color: #504f4f;
        font-size: 14px;
        padding: 10px 30px;

        svg {
          margin-right: 5px;
          margin-bottom: -2px;
          fill: #000;
        }
      }
    }
  }
}
