.search {
  display: flex;
  align-items: center;
}

.searchBar {
  flex: 1;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 0px 10px;
  border-radius: 10px;
}

.searchBar input {
  width: inherit;
  font-size: 16px;
  padding: 5px;
  background: transparent;
  color: var(--text-color);
  border: 0;
  outline: 0;
  flex: 1;
}

.searchBar svg {
  width: 25px;
  height: 25px;
  color: var(--text-six);
  cursor: pointer;
}

.searchBar button {
  all: unset;
  padding: 0;

  svg{
    margin-bottom: -8px;
  }
}
