.message-text {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-five);
  word-wrap: break-word;
  /* max-width: 500px; */
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0px;
  }

  pre {
    white-space: pre-wrap;
    font-size: 16px;
    font-weight: 400;
  }
}

.deleteText {
  font-style: italic;
  color: var(--delete-text);

  pre {
    font-size: 14px;
  }

  svg {
    width: 22px;
    height: 22px;
    margin-bottom: -5px;
  }
}
