@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Devanagari:100,200,300,regular,500,600,700,800,900);

:root{
 --read-btn-color: #0c84f7;
}

.message-text {
  align-self: flex-start;
  font-weight: 400;
  color: var(--text-five);
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &.deleteText {
    font-style: italic;
    color: var(--delete-text);
    font-weight: 500;

    pre {
      font-size: 14px;
    }

    svg {
      width: 22px;
      height: 22px;
      margin-bottom: -5px;
    }
  }

  /* ✅ Emoji only messages (large size) */
  &.single-emoji {
    font-size: 54px;
    line-height: 1.5;
  }

  &.multi-emoji-text{
    font-size: 24px;
    line-height: 1.5;
  }

  /* ✅ Mixed text with emoji */
  &.mixed-text {
    font-size: 16px;
    font-weight: 400 !important;
  }

  /* ✅ Hindi or other native languages (smaller size) */
  &.hindi-text {
    font-size: 16px;
    line-height: 1.6;
    font-family: "Noto Sans Devanagari", sans-serif !important;
    font-weight: 500 !important;
  }

  /* ✅ Long text styles */
  &.long-text {
    padding: 4px 4px;
    margin-bottom: 12px;
  }

  &.medium-long-text {
    margin-bottom: 16px;
  }

  &.image-text {
    padding-top: 12px;
  }
  &.number-text{
    font-size: 16px;
    font-weight: 400 !important;
  }
  /* ✅ Bold for long messages */
  &.bold-text {
    font-weight: 500 !important;
  }

  /* ✅ document text styles */
  &.doc-text{
    font-size: 0.9rem;
    font-weight: 400 !important;
    padding: 6px 5px;
  }

  pre {
    white-space: pre-wrap;
  }

  /* ✅ Emoji size in mixed text */
  .large-emoji {
    font-size: 20px;
    line-height: 1.4;
  }

  /* ✅ Normal emoji with numbers */
  .normal-emoji {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }

  /* ✅ Normal text size in mixed text */
  .normal-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }

  
  

  .read-more-btn {
    color: var(--read-btn-color);
    font-size: 13px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    padding: 0;
  }
}
