.home {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: 100%;
  width: 70%;
  background-color: var(--bg-secondary);
}

.home-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding: 20px;
  border-radius: 10px;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.home-left h1 {
  font-size: 2.5rem;
  color: var(--text-five);
  font-weight: 400;
  margin-bottom: 10px;
}

.home-left p {
  font-size: 1.2rem;
  color: var(--text-four);
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.home-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: var(--bg-green);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-secondary {
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.home-image {
  margin-bottom: 20px;
  text-align: center;
}

.home-image img {
  width: 100%;
  height: auto;
  max-width: 200px;
  border-radius: 10px;
}
