.addUser {
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  z-index: 10;
}

.addUser.hidden {
  left: -100%;
}

.addUser.visible {
  transform: translateX(0);
}

.addUser .header {
  padding: 14px;
  width: 100%;
  background-color: var(--bg-color);
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  .topBar {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 16px;
    gap: 25px;
    padding: 0px 10px;

    svg {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
    p {
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.addUser .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  border-bottom: 1px solid var(--addUser-bottom-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--bg-secondary);
  }

  .addUser-detail {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  button {
    all: unset;
    background-color: var(--bg-green);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;

    svg {
      width: 20px;
      height: 20px;
      fill: var(--white-color);
      margin-right: 8px;
    }
  }

  /* 🔥 Hover Effect */
  button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }

  /* 🔥 Disabled state */
  button.disabled {
    background-color: #b5b5b5 !important;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    opacity: 0.7;
  }
}
.addUser .error {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 175px);
}
